body {
    transition: .2s;
}

header{
    text-align: center;
}

.right {
    float: right;
}
.header{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 48px;
    color: white;
}

.bg-main {
    background: #c7254e;
    /*background: #c7c7c7;*/
}

.color-main {
    color: #c7254e;
}
.color-highlight {
    color: #d7355e;
}

a.color-main:hover {
    color: #d7355e;
    text-decoration: none;
}

a.color-main:active {
    color: #d7355e;
    text-decoration: none;
}

a.color-main:visited {
    color: #d7355e;
    text-decoration: none;
}

.chapter {
    font-family: "Trebuchet MS", sans-serif;
    padding: 5px 44px;
}

.schedule-on-day {
    margin-left: 2.5%;
    width: 95%;
    box-shadow: #ddd 0 0 35px;
    margin-bottom: 35px;
    border-radius: 5px;
}
.schedule-day-name{
    margin-left: 5%;
    font-size: large;
    font-family: "Trebuchet MS", sans-serif;
    color: #6c6c6c;

}
.schedule-time-column{
    font-size: large;
    font-family: "Trebuchet MS", sans-serif;
}

.schedule-subject-column{
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
    color: #518abe;
}

.schedule-teacher-column{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: smaller;
    color: #bebebe;
}

.schedule-on-day>tr>td{
    padding: 5px;
    border-bottom: dotted 1px lightgray;
}
.schedule-on-day>tr>td>p{
    padding: 0;
    margin: 0;
}

.logo-bookmark:hover{
    /*background: #92db00;*/
    top: -10px;
}
.btn-logout{
    width: 90%;
    height: 48px;
    border-width: 0;
    border-radius: 0;
    font: 14px "Trebuchet MS";
}

.btn-logout:hover{
    color: white;
    background: #d7355e;
}


/* taskboard */
.subject-item{
    padding: 25px 0 0 55px;
}

.task-count-label{
    color: #cecece;
}

.task-item{
    margin: 25px 25px 0 25px;
    padding: 20px 20px 10px 20px;
    background-color: #ffffe0;
    box-shadow: #ddd 0 0 35px;
}

.task-commentaries,
.task-new-comment {
    position: relative;
    max-width: 500px;
    margin: -10px 150px 0 150px;
    padding: 20px 20px 10px 20px;
    background-color: #fff;
    box-shadow: #ddd 0 0 7px;
}
.task-new-comment{
    background-color: #f0f0f0;
}
.task-header {
    padding: 5px 20px;
}

.task-name{
    font-size: large;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 400;
    float:left;
}
.task-subject{
    padding: 5px 15px 0 0;
    margin-left: 15px;
    font-size: small;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 700;
    float:left;
    color: #bbb;
}

.task-description{
    font-style: italic;
    margin: 20px;
}

.task-deadline{
    float:left;
    font-family: "Trebuchet MS", sans-serif;
    padding-top:20px;
}

.task-deadline-label{
    color: #bbb;
    font-size: small;
    float:left;
}

.task-deadline-date{
    color: #28f;
    font-size: small;
    font-weight: 700;
    float:left;
    margin-left: 5px;
}

.task-author{
    float:right;
}

.task-author-name{
    float:right;
    color: #bbb;
    font-size: small;
    margin-right: 10px;
    text-align: right;
}

.task-author-photo{
    float:right;
    width: 33px;
    height: 33px;
    background: #ddd;
}

/* news */
.color-picker{
    width: 20px;
    height: 20px;
    float:right;
    border-radius: 0 !important;
}

.color-picker-active{
    width: 30px;
    height: 30px;
    border: 1px solid lightgray !important;
}

.remove-record-btn{
    position:relative;
    float: right;
    right: -10px;
    top: -10px;
    cursor: pointer;
    color: #bbb !important;
}

/* group_profile settings */
.options-group{
    padding: 0 25px;
    margin: 15px 0;
}





























